name: Release
on:
  workflow_run:
    workflows: ['CI']
    branches: [master]
    types: [completed]

permissions:
  contents: write
  deployments: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    name: NPM Release
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v6

      # https://github.com/actions/setup-node
      - uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: 24

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - run: pnpm run build

      - name: Release
        run: npx semantic-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
